.horizontal-box {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: black;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-block: 2px;
    flex-wrap: wrap;
  }
  
  .option {
    flex: 1;
    text-align: center;
    color: aliceblue;
    padding: 8px;
    background-color: black;
    border-radius: 10px;
    margin-right: 5px;
  }

  .option-date {
    flex: 1;
    text-align: center;
    color: black;
    padding: 8px;
    background-color: aliceblue;
    border-radius: 10px;
    margin-right: 5px;
  }

  .option:last-child {
    margin-right: 0;
  }