.timesheet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    margin: auto;
  }
  
  .timesheet-content {
    text-align: center;
    width: 80%;
    border-radius: 5px;
  }
  
  .submit-button {
    margin-top: 20px; 
  }
  
  .horizontal-box-opt {
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    width: 80%;
    border: #f0f0f0 solid thin;
  }

  .opt {
    flex: 1;
    text-align: center;
    margin: auto;
    padding: 5px;
    color: #f0f0f0;
    background-color: black;
    border-radius: 10px;
    margin-right: 2px;
  }

  .front-section {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }