.time-view-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border: 1px solid;
    border-radius: 15px;
    background-color: black;
    color: aliceblue;
    width: 50%;
    margin : auto;
    margin-top: 60px;
}

.time-view-contents {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.time-view {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.time-option {
    flex: 1;
    text-align: center;
    color: black;
    padding: 5px;
    background-color: aliceblue;
    border-radius: 10px;
    margin-right: 5px;
    border: 1px solid white;
    width: 100px;
}