
name: Build and Push to dockerhub
on:
    [workflow_dispatch]

jobs:
    publish_image:
       runs-on: ubuntu-latest
       steps:
        - name: Checkout
          uses: actions/checkout@v4
        - name: Build image
          run: docker build ./client/ -t adityakumbhar19/timesheet-project:latest
               docker build ./server/ -t adityakumbhar19/timesheet-project:latest
        - name: Pushing images to DockerHub
          run: |
               docker login -u adityakumbhar19 -p ${{ secrets.DOCKER_HUB_TOKEN }}
               docker push adityakumbhar19/timesheet-project:latest
