name: Build and Push to DockerHub

on:
  workflow_dispatch:

jobs:
  publish_image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKER_HUB_TOKEN }}" | docker login -u "adityakumbhar19" --password-stdin

      - name: Build and Push Client Image
        run: |
          docker buildx build \
            -t adityakumbhar19/timesheet-project:client-latest \
            ./client --push

      - name: Build and Push Server Image
        run: |
          docker buildx build \
            -t adityakumbhar19/timesheet-project:server-latest \
            ./server --push
